{
  "Name": "Flow",
  "ClassName": "org.qbroker.flow.QFlow",
  "Site": "LITS",
  "Category": "{{id}}",
  "Type": "QFlow",
  "Description": "event id service",
  "Operation": "move",
  "XAMode": "1",
  "Capacity": "256",
  "Mode": "daemon",
  "Debug": "5",
  "FlowDebug": "37",
  "LogDir": "{{log_dir}}",
  "LogDatePattern": "'.'MM",
  "ConfigDir": "{{qb_dir}}/flow/{{id}}",
  "Heartbeat": "30",
  "EscalationCapacity": "64",
  "MaxNumberFlow": "1",
  "Node": [
    "node_format",
    "node_cache",
    "node_mapreduce",
    "node_collect",
    "node_jpath",
    "node_data_format"
  ],
  "Persister": [
    "pstr_null",
    "pstr_done_req",
    "pstr_failure_req",
    "pstr_nohit_req",
    "pstr_eval",
    "pstr_db_query",
    "pstr_failure",
    "pstr_nohit"
  ]
}
