{
  "Name": "pstr_db_query",
  "ClassName": "org.qbroker.persister.JDBCPersister",
  "URI": "{{db_url}}",
{% if db_type == 'mysql' %}
  "MaxIdleTime": "28500",
{% endif %}
  "LinkName": "query",
  "Operation": "query",
  "Username": "{{db_user}}",
  "Password": "{{db_passwd}}",
  "ResultType": "8",
  "DisplayMask": "6",
  "StringProperty": {
    "SQL": "",
    "TID": "",
    "ReturnCode": ""
  }
}
